<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moebuff.discord.dao.ChessRoomDAO">
    <resultMap id="roomMap" type="java.util.Map">
        <id property="id" column="id"></id>
        <result property="player1" column="player1"></result>
        <result property="player2" column="player2"></result>
        <result property="chessboard" column="chessboard"></result>
    </resultMap>
    <insert id="insertRoom" parameterType="com.moebuff.discord.entity.ChessRoom">
        insert into chessroom values(null,#{player1.userid},#{player2.userid},#{chessboard})
    </insert>
    <update id="setPlayer1ToNull" parameterType="com.moebuff.discord.entity.ChessRoom">
        update chessroom set player1 = null where id = #{id}
    </update>
    <update id="setPlayer2ToNull" parameterType="com.moebuff.discord.entity.ChessRoom">
        update chessroom set player2 = null where id = #{id}
    </update>
    <update id="addPlayer2ToRoom">
        update chessroom set player2 = #{player2.userid} where id = #{roomid}
    </update>
    <select id="findRoomById" parameterType="java.lang.Integer" resultType="com.moebuff.discord.entity.ChessRoom">
        select * from chessroom where id = #{id}
    </select>
    <select id="findRoomByUser" parameterType="com.moebuff.discord.entity.User" resultMap="roomMap">
        select * from chessroom where player1 = #{userid} or player2 = #{userid}
    </select>
</mapper>